<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>云学堂后台-分班抽签-创建班级</title>
    <!--[if lt ie 9]>
    <script th:src="@{/assets/js/html5.js}" type="text/javascript"></script>
    <![endif]-->
    <link th:href="@{/assets/css/amwayCSS.css}" type="text/css" rel="stylesheet">
    <script th:src="@{/assets/js/jquery-1.11.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/public.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/custom/common/layer/layer.js}"></script>
    <script th:src="@{/assets/js/custom/course/class-add.js}"></script>
    <script th:src="@{/assets/js/util.js}"></script>
    <link rel="icon" th:href="@{/assets/images/favicon.ico}" type="image/x-icon" />
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}" type="image/x-icon" />
</head>
<body>
<!-- 一级菜单 -->
<header th:replace="common/common_header :: header"></header>
<article class="widthWp mainWrap">
    <section class="wapmbx fl">
        <a href="/backend/course/courseManage">课程管理</a><em></em><a href="#">分班抽签</a><em></em><strong>创建班级</strong>
    </section>
    <!-- 二级菜单 -->
    <section th:replace="common/common_menu  :: menu"></section>
    <section class="conFl">
            <div class="StuCon">
                <div class="processC textCent"><span class="curr">1.创建班级</span><em></em><span>2.创建演讲内容</span><em></em><span>3.分配讲师</span></div>
                <div class="squadHd bjG padd10 mart10">
                    <input type="hidden" name="userCount" th:value="${count}"/>
                    <div class="linH30">
                        <span>报名成功学员人数：</span>
                        <span th:text="${count}" id="userCount"></span>
                        人
                    </div>
                    <div class="linH30">
                        <span>设置每班学员人数：</span>
                        <input id="classCount" th:value="${classCount}" th:name="classCount" type="text" placeholder="请输入班级学员人数" class="styS"> 人
                        <a href="javascript:addClass();" class="btnB">创建班级</a>
                    </div>
                </div>
                <div class="squadTable bjG padd10 mart10" style="display: none;">
                    <div class="linH30 fontblod">班级信息：</div>
                    <div class="tableBox">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr id="shouClass">
                                <th>班级</th>
                                <th>人数</th>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="dl textCent botMarTop" style="display: none;">
                    <a href="javascript:showContent();" class="btnAi c_red hover-shadow">下一步</a>
                </div>
            </div>
    </section>
</article>
<input hidden id="hide_userCount" th:value="${userCount}"/>
<input hidden id="hide_classCount" th:value="${classCount}"/>
</body>
</html>