<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_head :: head">

<body>
<header th:replace="common/common_header :: header"></header>
<article class="widthWp mainWrap">
    <section class="wapmbx fl"><a href="/backend/course/courseManage">课程管理</a><em></em><strong>在线测试</strong></section>

    <section th:replace="common/common_menu  :: menu"></section>

    <section class="conFl">
        <div class="StuCon QuBaCon">
            <div class="subNavTab">
                <ul><li class=""><a th:href="@{/backend/course/test/online/listPage(courseId=${courseId})}">新增测试卷</a></li><li class="curr"><a th:href="@{/backend/course/test/score/listPage(courseId=${courseId})}">测试结果</a></li></ul>
            </div>

            <div class="clearfix">
                <div class="clearfix StuTle">
                    <div class="fl search" style="margin-left: 0">
                        <input type="search" class="ipnSearch" placeholder="请输入您要查找的学员姓名或安利卡号">
                        <input type="button" value="搜 索" class="ipnBtn">
                    </div>
                    <div class="fr">
                        <a th:href="@{/backend/course/test/score/export(courseId=${courseId})}" class="btnB">批量导出</a>
                    </div>
                </div>
            </div>
            <div class="tableWrap">
                <div class="tableBox">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <th>学员姓名</th>
                            <th>安利卡号</th>
                            <th><select name="select4" class="stySelS select-sex">
                                <option  selected value="2">性别</option>
                                <option value="0">男</option>
                                <option value="1">女</option>
                            </select></th>
                            <!-- 操作这一栏调整为一行显示 qj -->
                            <th width="100px">
                                <select name="select" class="stySelS select-paper" style="width: 100px">
                                    <option  selected value="0">测试卷名称</option>
                                    <option th:each="testPaper, state : ${testPapers}" th:value="${testPaper.id}" th:text="${testPaper.name}"></option>
                                </select>
                            </th>
                            <th><select name="select2" class="stySelS select-state">
                                <option  selected value="2">状态</option>
                                <option value="1">已完成</option>
                                <option value="0">未完成</option>
                            </select></th>
                            <th>完成日期</th>
                            <th><select name="select3" class="stySelS select-order">
                                <option  selected value="1">得分</option>
                                <option value="1">降序排列</option>
                                <option value="0">升序排列</option>
                            </select></th>
                            <!-- 操作这一栏调整为一行显示 qj -->
                            <th>操作</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page-box" id="scorePager"></div>
            </div>
        </div>

    </section>
</article>
<!---预览-->
<div class="codeLayer addTestQu" data-sum="16">
    <div class="toptit">查看测试结果<b class="close"></b></div>
    <div class="layCon layCon01">
        <div class="clearfix scroll40 score-view-div">

        </div>
    </div>
    <div class="btnBox">
        <a href="javascript:;" class="btnA but_none" data-sum="0301">关闭</a>
    </div>
</div>
<div class="codeLayerbj"></div>
<script>
    $(function () {
        /*<![CDATA[*/
        var courseId = [[${courseId}]];
        /*]]>*/

        // 设置tf_sex方法
        Handlebars.registerHelper('tf_sex', function(v1) {
            if(v1 == 0){
                return "男";
            }else if(v1 == 1){
                return "女";
            }else{
                return "未定义";
            }
        });

        // 设置tf_state_class方法
        Handlebars.registerHelper('tf_state_class', function(v1) {
            if(v1 == 0){
                return "ct_red";
            }else if(v1 == 1){
                return "ct_green";
            }else{
                return "未定义";
            }
        });

        // 设置tf_state方法
        Handlebars.registerHelper('tf_state', function(v1) {
            if(v1 == 0){
                return "未完成";
            }else if(v1 == 1){
                return "已完成";
            }else{
                return "未定义";
            }
        });

        Handlebars.registerHelper('if_eq', function(v1, v2, opts) {
            if(v1 == v2) {
                return opts.fn(this);
            }
            else
                return opts.inverse(this);
        });

        Handlebars.registerHelper('getTime', function (v) {
            if(!v){
                return '';
            }
            return msecToDate2(v);
        })

        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });

        // 初始查询数据
        search();

        // 绑定查询按钮事件
        $(".ipnBtn").on("click", function () {
            search();
        });

        // 绑定排序select事件
        $(".stySelS").change(function () {
            search();
        })

        // 分页查询方法
        function search() {
            var search = $(".ipnSearch").val();
            var sex = $(".select-sex").find("option:selected").attr("value");
            var paperId = $(".select-paper").find("option:selected").attr("value");
            var state = $(".select-state").find("option:selected").attr("value");
            var order = $(".select-order").find("option:selected").attr("value");
            initPager(courseId, search, sex, paperId, state, order, 8);
        }

        /**
         * 数据查询
         * @param pageNo
         * @param pageSize
         */
        function dataQuery(courseId, search, sex, paperId, state, order, pageNo, pageSize) {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                data:{
                    courseId: courseId,
                    search: search,
                    sex: sex,
                    paperId: paperId,
                    state: state,
                    search: search,
                    order: order,
                    pageNo: pageNo,
                    pageSize: pageSize
                },
                url: '/backend/course/test/score/list',
                success: function (data) {
                    if(data.message == "success"){
                        $("tbody tr").eq(0).siblings().remove();
                        $(".padTB20").remove();
                        if(data.data.length ==0){
                            $(".tableBox").after($("#no-content").html());
                            $("#scorePager").hide();
                        }else {
                            $("#scorePager").show();
                            var source = $("#score-list").html();
                            var template = Handlebars.compile(source);
                            var templateHtml = template(data.data);
                            $("tbody").append(templateHtml);
                        }
                    }
                }
            });
        }

        /**
         * 初始化分页插件
         * @param pageSize
         */
        function initPager(courseId, search, sex, paperId, state, order, pageSize){
            //调用分页
            laypage.render({
                elem: 'scorePager',
                count: getTotalData(courseId, search, sex, paperId, state, order),
                limit: pageSize,
                theme: '#1962a9',
                jump: function(obj, first){
                    dataQuery(courseId, search, sex, paperId, state, order, obj.curr, pageSize);
                }
            });
        }

        /**
         * 第一次查询总数
         * @returns {number}
         */
        function getTotalData(courseId, search, sex, paperId, state, order) {
            var count = 0;
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/backend/course/test/score/count',
                async: false,
                data: {
                    courseId: courseId,
                    search: search,
                    sex: sex,
                    paperId: paperId,
                    state: state,
                    search: search,
                    order: order
                },
                success: function(data){
                    if(data.message == "success"){
                        count = data.data;
                    }else{
                    }
                },
                error: function(){
                }
            });
            return count;
        }

        //////////////////测试结果预览////////////////////
        $("table").on("click", ".swt_but", function () {
            var user_id = $(this).data("user-id");
            var paper_id = $(this).data("paper-id");
            if(getResult(user_id, paper_id)){
                var swt_but_name=$(this).data("sum");
                if($(".addTestQu").length>0){
                    $(".addTestQu").each(function(){
                        if($(this).data("sum")==swt_but_name){
                            $(this).fadeIn();
                            $(".codeLayerbj").fadeIn();
                            // $(".codeLayer,.codeLayerbj").fadeIn();
                            var thmlH= $(window).height();
                            var layerH = $(this).height();
                            $(this).css("top",(thmlH-layerH)/2+"px");

                        }

                    })
                }
            }
        });

        /**
         * 获取测试结果
         * @param id
         * @returns {boolean}
         */
        function getResult(user_id, paper_id) {
            var flag = true;
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/backend/course/test/score/view',
                data: {
                    userId: user_id,
                    paperId: paper_id
                },
                async: false,
                success:function(data){
                    console.log(data)
                    if(data.message == "success"){
                        var source = $("#score-view").html();
                        var template = Handlebars.compile(source);
                        var templateHtml = template(data.data);
                        $(".score-view-div").html(templateHtml);
                    }else{
                        flag = false;
                    }
                },
                error: function(){
                    layer.msg("预览测试卷结果失败！", {icon: 5});
                    flag = false;
                }
            })
            return flag;
        }
    });
</script>
<script id="score-list" type="text/x-handlebars-template">
    {{#each this}}
    <tr>
        <td>
            <span class="w5 courseM-td" title="{{user_name}}">{{user_name}}</span>
        </td>
        <td>{{user_ada}}</td>
        <td>{{tf_sex user_sex}}</td>
        <td>
            <span class="w5 courseM-td" title="{{paper_name}}">{{paper_name}}</span>
        </td>

        <td><span class="{{tf_state_class score_state}}">{{tf_state score_state}}</span></td>
        <td>{{getTime finish_time}}</td>
        <td>{{score}}</td>
        <td>
            <a href="javascript:;" class="swt_but" data-sum="16" data-user-id="{{user_id}}" data-paper-id="{{paper_id}}">查看测试结果</a>
        </td>
    </tr>
    {{/each}}
</script>
<script id="score-view" type="text/x-handlebars-template">
    <div class="box_wbt box_wbtTop">
        <ul class="">
            <li>安利卡号：{{user_ada}}</li>
            <li>姓名：{{user_name}}</li>
            <li>测试卷名称：{{paper_name}}</li>
            <li>测试卷得分：{{score}}</li>
            <li>测试卷结果：</li>
        </ul>
    </div>
    {{#each quests}}
    <div class="box_w CSbox1">
        <div class="dt" style="word-wrap: break-word">{{sequence}}.（{{typeShow}}）{{question}}（{{score}}分）</div>
        <div class="dd">
            <ul>
                {{#each options}}
                <li><span style="display: -moz-inline-box; display: inline-block; width: 10px">{{sequence}}</span>：{{content}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="dd"><span class="ct_green">正确答案:{{trueAnswer}}</span></div>
        <div class="dd">测试结果:{{#if_eq answerType 1}}<span class="ct_green">正确</span>{{else}}<span class="ct_red">错误</span>{{/if_eq}}（{{answer}}） 得分：{{getScore}}分</div>
    </div>
    {{/each}}
</script>
<script id="no-content" type="text/x-handlebars-template">
    <div class="padTB20"><div class="m-style">搜索无结果！</div></div>
</script>
</body>
</html>
