<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>云学堂后台-课程管理-分班抽签</title>
  <!--[if lt ie 9]>
  <script src="js/html5.js" type="text/javascript"></script>
  <![endif]-->
  <link rel="stylesheet" th:href="@{/assets/css/vendor.41ab07762f6fdd070d82.css}">
</head>

<body>
<div id="app"></div>
<script type="text/javascript" th:src="@{/assets/js/views/vendor.41ab07762f6fdd070d82.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/views/index.4cd114200e2a097a7485.js}"></script>
</body>

</html>
