<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_head :: head">

<body>
<header th:replace="common/common_header :: header"></header>
<article class="widthWp mainWrap">
    <section class="wapmbx fl"><a href="/backend/resource/label">课程资源</a><em></em><a href="javascript:;">测试题库</a></section>

    <section th:replace="common/common_menu  :: menu"></section>

    <section class="conFl">
        <div class="QuBaCon" th:if="${hasTestTemp == false}">
            <div class="quNodata">
                <a th:href="@{/backend/resource/test/temp/add}" class="btnB">新增测试卷模板</a>
                <p>您还没有测试卷模板，赶紧来添加吧~</p>
            </div>
        </div>
        <div class="QuBaCon" th:if="${hasTestTemp == true}">
            <div class="qubaTit bjG padd10 mart10 clearfix">
                <b class="fl">测试卷模板</b>
                <span class="fr"><a th:href="@{/backend/resource/test/temp/add}" class="btnB"><strong>+</strong> 新增测试卷模板</a></span>
            </div>
            <section class="conFl conWid">
                <div class="StuCon">

                    <div class="clearfix StuTle">
                        <div class="fl tleChe">
                            <label></label>
                            <i class='input_style checkbox_bg'>
                                <input type="checkbox" name="selectAll" id="selectAll" value="">
                            </i>
                            <label for="selectAll">全选</label>
                        </div>
                        <div class="fl search">
                            <input type="search" class="ipnSearch" placeholder="请输入您要查找测试卷模板的名称">
                            <input type="button" value="搜 索" class="ipnBtn">
                        </div>
                        <div class="fr">
                            <a href="javascript:;" class="btnA" id="clearSelected">删 除</a>
                        </div>
                    </div>
                </div>
                <div class="tableWrap">
                    <div class="tableBox">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <th width="26%">测试卷模板名称</th>
                                <th width="13%">
                                    <select class="stySelS">
                                        <option  selected value="1">创建时间</option>
                                        <option value="1">最新发布</option>
                                        <option value="2">最早发布</option>
                                    </select>
                                </th>
                                <th width="13%">操作</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="page-box" id="testPager"></div>
                </div>
            </section>
        </div>

    </section>
</article>
<!---预览-->
<div class="codeLayer addTestQu " data-sum="0301" th:if="${hasTestTemp == true}">
    <div class="toptit">预览<b class="close"></b></div>
    <div class="layCon layCon01">
        <div class="clearfix temp-view scroll40">

        </div>
        <div class="btnBox">
            <a href="javascript:;" class="btnA but_none" data-sum="0301">关闭</a>
        </div>
    </div>
</div>
<div class="codeLayerbj" th:if="${hasTestTemp == true}"></div>

<script th:src="@{/assets/js/custom/common/selectAll.js}"></script>
<script th:inline="javascript">
    $(function () {
        /*<![CDATA[*/
        var hasTestTemp = [[${hasTestTemp}]];
        /*]]>*/
        if(hasTestTemp || hasTestTemp == 'true'){
            // 设置tf_type方法
            Handlebars.registerHelper('tf_type', function(v1) {
                if(v1 == 1){
                    return "单选题";
                }else if(v1 == 2){
                    return "多选题";
                }else if(v1 == 3){
                    return "问答题";
                }else{
                    return "未定义";
                }
            });

            Handlebars.registerHelper('if_eq', function(v1, v2, opts) {
                if(v1 == v2) {
                    return opts.fn(this);
                }
                else
                    return opts.inverse(this);
            });

            $('pre code').each(function (i, block) {
                hljs.highlightBlock(block);
            });
            // 初始查询数据
            search();

            // 绑定查询按钮事件
            $(".ipnBtn").on("click", function () {
                var searchField = $(".ipnSearch").val();
                search();
            });

            // 绑定排序select事件
            $(".stySelS").change(function () {
                search();
            })

            // 分页查询方法
            function search() {
                var search = $.trim($(".ipnSearch").val());
                var order = $(".stySelS").find("option:selected").attr("value");
                var isDesc = order == 1 ? true : false;

                $("#selectAll").prop("checked", false).parent('i').removeClass('checkbox_bg_check');
                initPager(search, isDesc, 8, 1);
            }

            /**
             * 数据查询
             * @param pageNo
             * @param pageSize
             */
            function dataQuery(search, isDesc, pageNo, pageSize) {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    data:{
                        search: search,
                        isDesc: isDesc,
                        pageNo: pageNo,
                        pageSize: pageSize
                    },
                    url: '/backend/resource/test/temp/list',
                    success: function (data) {
                        console.log(data);
                        if(data.message == "success"){
                            $("#selectAll").prop("checked", false).parent('i').removeClass('checkbox_bg_check');
                            $("tbody tr").eq(0).siblings().remove();
                            $(".padTB20").remove();
                            if(data.data.dataList.length ==0){
                                $(".tableBox").after($("#no-content").html());
                                $("#testPager").hide();
                            }else{
                                $("#testPager").show();
                                var source = $("#testBank-list").html();
                                var template = Handlebars.compile(source);
                                var templateHtml = template(data.data);
                                $("tbody").append(templateHtml);
                            }
                        }
                    }
                });
            }

            /**
             * 初始化分页插件
             * @param pageSize
             */
            function initPager(search, isDesc, pageSize, pageNo){
                //调用分页
                laypage.render({
                    elem: 'testPager',
                    count: getTotalData(search),
                    limit: pageSize,
                    theme: '#1962a9',
                    curr: pageNo,
                    jump: function(obj, first){
                        dataQuery(search, isDesc, obj.curr, pageSize);
                    }
                });
            }

            /**
             * 第一次查询总数
             * @returns {number}
             */
            function getTotalData(search) {
                var count = 0;
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '/backend/resource/test/temp/count',
                    async: false,
                    data: {search: search},
                    success: function(data){
                        if(data.message == "success"){
                            count = data.data;
                        }else{
                        }
                    },
                    error: function(){
                    }
                });
                return count;
            }

            /**
             * 删除数据
             * @param ids
             */
            function clearSelected(ids) {
                layer.confirm('确认要删除吗？',function(index){
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        url: '/backend/resource/test/temp/remove',
                        data:{
                            ids: ids
                        },
                        success:function(data){
                            layer.close(index);
                            if(data.message == "success"){
                                var source = $("#testTemp-remove-show").html();
                                var template = Handlebars.compile(source);
                                var templateHtml = template(data.data);
                                layer.open({
                                    type: 1
                                    ,title: '提示信息'//不显示标题栏
                                    ,closeBtn: 0
                                    ,area: '600px;'
                                    ,shade: 0.3
                                    ,id: 'test_temp_remove_show' //设定一个id，防止重复弹出
                                    ,resize: false
                                    ,btn: ['确定']
                                    ,btnAlign: 'c'
                                    ,content: templateHtml
                                    ,yes: function(index, layero){
                                        layer.close(index);
                                        location.reload(true);
                                    }
                                });
                            }else{
                                layer.close(index);
                                layer.msg("删除失败！", {icon: 5});
                            }
                        },
                        error: function(){
                            layer.close(index);
                            layer.msg("删除失败！", {icon: 5});
                        }
                    });
                });
            }

            /**
             * 点击详情弹出层
             */
            $(document).on("click", ".remove-tip", function () {
                var id = $(this).data("id");
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '/backend/resource/test/temp/remove/detail',
                    data:{
                        id: id
                    },
                    success:function(data){
                        if(data.message == "success"){
                            var source = $("#testTemp-remove-detail-show").html();
                            var template = Handlebars.compile(source);
                            var templateHtml = template(data.data);
                            layer.open({
                                type: 1
                                ,title: '提示信息'//不显示标题栏
                                ,closeBtn: 0
                                ,area: '500px;'
                                ,shade: 0.3
                                ,id: 'test_temp_remove_detail_show' //设定一个id，防止重复弹出
                                ,resize: false
                                ,btn: ['确定']
                                ,btnAlign: 'c'
                                ,content: templateHtml
                                ,yes: function(index, layero){
                                    layer.close(index);
                                }
                            });
                        }else{
                            layer.msg("查询详情失败！", {icon: 5});
                        }
                    },
                    error: function(){
                        layer.msg("查询详情失败！", {icon: 5});
                    }
                });
            })

            /**
             * 批量删除
             */
            $("#clearSelected").on("click", function(){
                var $selected = $("tbody").find('input[type=checkbox]:checked')
                if($selected.length != 0){
                    var ids = '';
                    $selected.each(function () {
                        var id = $(this).data("id");
                        ids = ids + id + ',';
                    })
                    clearSelected(ids);
                }else{
                    layer.msg('请选择需要删除的试卷模板！');
                }
            })

            /**
             * 单个删除
             */
            $("tbody").on("click", ".clearTemp", function () {
                clearSelected($(this).data("id"));
            })

            /**
             * 编辑
             */
            $("tbody").on("click", ".editTemp", function () {
                window.location = '/backend/resource/test/temp/edit?id='+$(this).data("id");
            })

            /**
             * 克隆
             */
            $("tbody").on("click", ".cloneTemp", function () {
                window.location = '/backend/resource/test/temp/clone?id='+$(this).data("id");
            })

            //////////////预览//////////////
            $("table").on("click", ".swt_but", function () {
                var id = $(this).data("id");
                if(getTemp(id)){
                    var swt_but_name=$(this).data("sum");
                    if($(".addTestQu").length>0){
                        $(".addTestQu").each(function(){
                            if($(this).data("sum")==swt_but_name){
                                $(this).fadeIn();
                                $(".codeLayerbj").fadeIn();
                                // $(".codeLayer,.codeLayerbj").fadeIn();
                                var thmlH= $(window).height();
                                var layerH = $(this).height();
                                $(this).css("top",(thmlH-layerH)/2+"px");
                            }
                        })
                    }
                }
            });

            /**
             * 获取模板数据
             * @param id
             * @returns {boolean}
             */
            function getTemp(id) {
                var flag = true;
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '/backend/resource/test/temp/single',
                    data: {
                        id: id
                    },
                    async: false,
                    success:function(data){
                        console.log(data)
                        if(data.message == "success"){
                            var source = $("#testTemp-view-item").html();
                            var template = Handlebars.compile(source);
                            var templateHtml = template(data.data);
                            $(".temp-view").html(templateHtml);
                        }else{
                            flag = false;
                        }
                    },
                    error: function(){
                        layer.msg("预览测试模板失败！", {icon: 5});
                        flag = false;
                    }
                })
                return flag;
            }
        }
    });
</script>
<script id="testBank-list" type="text/x-handlebars-template">
    {{#each dataList}}
    <tr>
        <td><i class='input_style checkbox_bg'><input type="checkbox" name="ids" value="" data-id="{{id}}"></i>
            {{name}}</td>
        <td>{{createTime}}</td>
        <td class="mar10">
            <a href="javascript:;" data-id="{{id}}" class="swt_but" data-sum="0301">预览</a>
            {{#if_eq isUsed 0}}
            <a href="javascript:;" data-id="{{id}}" class="editTemp">编辑</a>
            {{else}}
            <a href="javascript:;" style="color: #c9c9c9; cursor: not-allowed">编辑</a>
            {{/if_eq}}
            <a href="javascript:;" data-id="{{id}}" class="cloneTemp">克隆</a>
            <a href="javascript:;" data-id="{{id}}" class="clearTemp">删除</a>
        </td>
    </tr>
    {{/each}}
</script>
<script id="testTemp-view-item" type="text/x-handlebars-template">
    <div class="box_wbt box_wbtTop">{{name}}（总分{{totalScore}}分）</div>
    {{#each quests}}
    <div class="box_w">
        <div class="dt" style="word-wrap: break-word">{{sequence}}.（{{tf_type type}}）{{question}}（{{scoreShow}}分）</div>
        <div class="dd">
            <ul>
                {{#each options}}
                <li>{{sequence}}：{{content}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="dd"><span class="ct_green">正确答案:{{trueAnswer}}</span></div>
    </div>
    {{/each}}
</script>
<script id="testTemp-remove-show" type="text/x-handlebars-template">
    <div style="padding: 20px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">
        {{#each this}}
        {{#if isUsed}}
        【{{name}}】删除失败！已被一套或多套试卷引用，<span style="color:yellow;cursor:pointer;" class="remove-tip" data-id="{{id}}">详情</span>！<br>
        {{else}}
        【{{name}}】删除成功！<br>
        {{/if}}
        {{/each}}
    </div>
</script>
<script id="testTemp-remove-detail-show" type="text/x-handlebars-template">
    <div style="padding: 20px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">
        引用如下：<br>
        {{#each this}}
        【{{title}}】的【{{name}}】；<br>
        {{/each}}
    </div>
</script>
<script id="no-content" type="text/x-handlebars-template">
    <div class="padTB20"><div class="m-style">搜索无结果！</div></div>
</script>
</body>
</html>
