<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amway.acti.dao.RegisterExportMapper">
  <resultMap id="BaseResultMap" type="com.amway.acti.model.RegisterExport">
    <result column="createTime" jdbcType="VARCHAR" property="createTime" />
    <result column="courseId" jdbcType="INTEGER" property="courseId" />
    <result column="name" jdbcType="VARCHAR" property="userName" />
    <result column="ada_number" jdbcType="VARCHAR" property="adaNumber" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>

  <select id="selectRegisterByCourseId" resultMap="BaseResultMap">
      SELECT
      CONVERT (
      VARCHAR (50),
      tcr.register_time,
      120
      ) createTime,
      tcs.course_id courseId,
      tu.name,
      tu.ada_number,
      CASE ISNULL(tcr.id, 0)
      WHEN 0 THEN
      '未签到'
      ELSE
      '已签到'
      END state,
      CASE ISNULL(tu.sex, 10)
      WHEN 0 THEN
      '男'
      WHEN 1 THEN
      '女'
      END sex
      FROM
      t_user tu
      INNER JOIN t_course_signup tcs ON tu.adainfo_md5 = tcs.adainfo_md5
      left JOIN t_course_register tcr ON tcr.course_id = tcs.course_id and tcr.user_id = tu.id
      WHERE
      tu.state = 1
      <if test="list != null">
          AND tcs.course_id IN (
          <foreach collection="list" item="s" separator=",">
              #{s.id}
          </foreach>
          )
      </if>
      order by tcs.course_id
  </select>
</mapper>
