<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amway.acti.dao.SpeeMarkMapper">
  <resultMap id="BaseResultMap" type="com.amway.acti.model.SpeeMark">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="score" jdbcType="NUMERIC" property="score" />
    <result column="state" jdbcType="SMALLINT" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, course_id, class_id, user_id, score, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_spee_mark
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_spee_mark
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.amway.acti.model.SpeeMark">
    insert into t_spee_mark (id, course_id, class_id, 
      user_id, score, state
      )
    values (#{id,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{classId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{score,jdbcType=NUMERIC}, #{state,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.amway.acti.model.SpeeMark">
    insert into t_spee_mark
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=NUMERIC},
      </if>
      <if test="state != null">
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amway.acti.model.SpeeMark">
    update t_spee_mark
    <set>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=NUMERIC},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amway.acti.model.SpeeMark">
    update t_spee_mark
    set course_id = #{courseId,jdbcType=INTEGER},
      class_id = #{classId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      score = #{score,jdbcType=NUMERIC},
      state = #{state,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--Begin dk-->
  <select id="selectByCourseIdAndClassIdAndUid" parameterType="com.amway.acti.model.SpeeMark"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_spee_mark
    where
     course_id = #{courseId,jdbcType=INTEGER}
    <if test="classId != null and ''!=classId ">
      AND class_id = #{classId,jdbcType=INTEGER}
    </if>
    and user_id = #{userId,jdbcType=INTEGER}
    and state = 1
  </select>

  <delete id="deleteByCourseId">
    delete
    from t_spee_mark
    where course_id = #{courseId}
  </delete>
  <!--End dk-->

  <!--Begin qj-->
  <select id="selectByCourseId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_spee_mark
    where course_id = #{courseId}
    and state = 1
  </select>
  <!--End qj-->

  <!-- 删除课程下所有学员的演讲成绩 wsc -->
  <delete id="deleteSpeeMarkByCourseIdAndUserId">
    delete
    from t_spee_mark
    where
    course_id = #{courseId} and
    user_id in (
    <foreach collection="list" item="s" separator=",">
      #{s}
    </foreach>
    )
  </delete>
</mapper>
